/**
 * Styles for the UMW Online Tool Bar and Global Header Bar
 */
.umw-helpful-links, 
.umw-helpful-links * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.umw-helpful-links {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	clear: both;
	float: none;
	background: #4d6b8b;
	color: #fff;
	position: relative;
	z-index: 15;
}

.umw-helpful-links .umw-tools {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

.umw-helpful-links .umw-tools > li {
	display: inline-block;
	float: left;
	padding: 0;
	margin: 0;
	width: 8.333333333333333%;
	font-size: 11px;
}

.umw-helpful-links .umw-tools a {
	display: block;
	margin: 0;
	padding: 10px 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	color: #fff;
	background: transparent;
	border: none;
	text-decoration: none;
	text-align: center;
}

.umw-helpful-links .umw-tools a:hover, 
.umw-helpful-links .umw-tools a:focus {
	background: #002b5a;
	color: #fff;
	border: none;
	text-decoration: none;
}

.umw-helpful-links .umw-tools img {
	display: block;
	margin: 0 auto;
	padding: 4px;
	max-width: 100%;
	width: auto;
	height: 26px;
	/* No longer necessary, since we modified the images themselves
	filter: invert(100%) contrast(1000%);
	-webkit-filter: invert(100%) contrast(1000%);
	-moz-filter: invert(100%) contrast(1000%);
	-o-filter: invert(100%) contrast(1000%);
	-ms-filter: invert(100%) contrast(1000%);*/
}

/**
 * Audience Menu Styles
 */
.umw-audience-menu {
	display: block;
	float: right;
}

.umw-audience-menu li {
	display: inline-block;
	float: left;
	width: auto;
	font-size: 11px;
	padding: 10px 0;
}

.umw-audience-menu a {
	color: #fff;
	display: block;
	padding: 0 10px;
	margin: 0;
	line-height: 25px;
	border-right: 1px solid #fff;
}

.umw-header-bar ul, 
.umw-header-bar ul > li, 
.umw-header-bar ol, 
.umw-header-bar ol > li {
	list-style: none;
}

.umw-header-bar #umw-global-logo {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 13px 0 13px;
	margin: 0;
	float: left;
	display: none;
	height: 45px;
	vertical-align: middle;
}

.umw-header-bar.no-global-header #umw-global-logo {
	display: block;
}

.umw-header-bar #umw-global-logo svg, 
.umw-header-bar #umw-global-logo-img {
	height: 19px;
	width: 375px;
	max-height: 100%;
	max-width: 100%;
}

.artsGenesis #header {
	position: relative;
}

.jamesmonroemuseum, .philharmonic {
	background: #000;
}

body #umw-logo-block {
	padding-top: 0;
	padding-bottom: 10px;
}

br.desktop-clear {
	clear: both;
}

@media all and (max-width: 1023px) {
	body #umw-custom-background #header > .wrap {
		margin: 0;
		padding: 0;
	}
	
	#umw-logo-block {
		display: none;
	}
	
	#inner {
		padding-top: 0;
		margin-top: 0;
	}
	
	.umw-header-bar #umw-global-logo, 
	#umw-global-logo {
		display: block;
	}
	
	.umw-helpful-links .umw-tools a {
		color: #fff !important;
		background: transparent !important;
		padding: 10px 0 !important;
	}
	
	.umw-helpful-links .umw-tools a:hover, 
	.umw-helpful-links .umw-tools a:focus {
		background: #002b5a !important;
		color: #fff !important;
	}
	
	.umw-helpful-links {
		display: none;
		background: #4d6b8b !important;
		font-size: 11px !important;
	}
	
	.menu-bar-open .umw-helpful-links {
		display: block;
	}
	
	.umw-helpful-links .umw-tools li,
	#umw-nav .umw-helpful-links .umw-tools li {
		width: 16.66666666666667%;
	}
	
	.umw-helpful-links .umw-tools li:nth-child( 6n ) {
		clear: right;
	}
	
	.umw-helpful-links .umw-tools li:nth-child( 6n + 1 ) {
		clear: left;
	}
	
	br.desktop-clear {
		display: none;
	}
}

@media all and (max-width: 750px) {
	.umw-header-bar {
		height: auto;
	}
	
	.umw-header-bar #umw-global-logo, 
	.umw-audience-menu {
		float: none;
		clear: both;
		margin: 0 auto;
		width: auto;
		text-align: center;
		background: rgb( 0, 48, 94 );
	}
	
	.umw-audience-menu li {
		width: 25%;
	}
	
	.umw-audience-menu li:nth-child( 4n ) a {
		border: none;
	}
}

@media all and (max-width: 480px) {
	.umw-header-bar #umw-global-logo {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.umw-audience-menu li {
		width: 50%;
	}
	
	.umw-audience-menu li:nth-child( even ) a {
		border: none;
	}
	
  .umw-helpful-links .umw-tools li,
	#umw-nav .umw-helpful-links .umw-tools li {
		width: 25%;
	}

	.umw-helpful-links .umw-tools li:nth-child( 6n ) {
		clear: none;
	}

	.umw-helpful-links .umw-tools li:nth-child( 6n + 1 ) {
		clear: none;
	}

	.umw-helpful-links .umw-tools li:nth-child( 4n ) {
		clear: right;
	}

	.umw-helpful-links .umw-tools li:nth-child( 4n + 1 ) {
		clear: left;
	}
}
