@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dwra5v');
  src:  url('fonts/icomoon.eot?dwra5v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dwra5v') format('truetype'),
    url('fonts/icomoon.woff?dwra5v') format('woff'),
    url('fonts/icomoon.svg?dwra5v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-umwicon-eaglepay:before {
  content: "\e900";
}
.icon-umwicon-myumw:before {
  content: "\e601";
}
.icon-umwicon-banner:before {
  content: "\e606";
}
.icon-umwicon-eaglenet:before {
  content: "\e60c";
}
.icon-umwicon-eagleone:before {
  content: "\e600";
}
.icon-umwicon-canvas:before {
  content: "\e602";
}
.icon-umwicon-directory:before {
  content: "\e603";
}
.icon-umwicon-documents:before {
  content: "\e604";
}
.icon-umwicon-eagleeye:before {
  content: "\e605";
}
.icon-umwicon-email:before {
  content: "\e607";
}
.icon-umwicon-eva:before {
  content: "\e608";
}
.icon-umwicon-library:before {
  content: "\e609";
}
.icon-umwicon-links:before {
  content: "\e60a";
}
.icon-umwicon-mytime:before {
  content: "\e60b";
}
.icon-umwicon-password:before {
  content: "\e60d";
}
.icon-umwicon-starfish:before {
  content: "\e60e";
}

