@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?go3ftb');
  src:  url('fonts/icomoon.eot?go3ftb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?go3ftb') format('truetype'),
    url('fonts/icomoon.woff?go3ftb') format('woff'),
    url('fonts/icomoon.svg?go3ftb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-umwicon-eaglepay:before {
  content: "\e90f";
}
.icon-umwicon-banner:before {
  content: "\e900";
}
.icon-umwicon-canvas:before {
  content: "\e901";
}
.icon-umwicon-directory:before {
  content: "\e902";
}
.icon-umwicon-documents:before {
  content: "\e903";
}
.icon-umwicon-eagleeye:before {
  content: "\e904";
}
.icon-umwicon-eaglenet:before {
  content: "\e905";
}
.icon-umwicon-eagleone:before {
  content: "\e906";
}
.icon-umwicon-email:before {
  content: "\e907";
}
.icon-umwicon-eva:before {
  content: "\e908";
}
.icon-umwicon-library:before {
  content: "\e909";
}
.icon-umwicon-links:before {
  content: "\e90a";
}
.icon-umwicon-mytime:before {
  content: "\e90b";
}
.icon-umwicon-myumw:before {
  content: "\e90c";
}
.icon-umwicon-password:before {
  content: "\e90d";
}
.icon-umwicon-starfish:before {
  content: "\e90e";
}

